body {
    text-align: center;
    background: linear-gradient(gold, lightblue);
}

html {
    min-height: 100%;
}

.box {
    width: 600px;
    height: 180px;
    line-height: 180px;
    margin:auto;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 1px 0px 5px gray, 5px 5px 0px 3px gray;
}

.picture {
    margin-top: 60px;
}

.bottunPicture{
    position:fixed;
    right:50px;
    bottom:50px;
}

.bottunPicture:hover{
    opacity:0.4;
}

h1 {
    font-size: 6em;
    color: gray;
    font-family: 'Sigmar One', cursive;
    line-height: 0.7;
}

h2 {
    font-size: 2.5em;
    color: gray;
    font-family: 'Sigmar One', cursive;
    line-height: 0.7;
}

h3 {
    color:gray;
    font-family: 'Sigmar One', cursive;
    line-height: 5px;
}

p {
    font-size: 1.5em;
    color:rgb(196, 167, 5);
    font-family: 'Sigmar One', cursive;
}

#games{
    line-height: 90px;
}

.toy-button {
    position: relative;
    padding: 0.5em 0.2em;
    text-decoration: none;
    background:#17a99f;
    color: #17a99f;
    box-shadow:4px 4px gray;
    border-radius: 4px;
    font-weight: bold;
    text-shadow: -1px -1px rgba(255, 255, 255, 0.44), 1px 1px rgba(0, 0, 0, 0.38);
}
  
.toy-button:active {
    border-bottom: solid 2px #17a99f;
    box-shadow: none;
    text-shadow: -1px -1px rgba(255, 255, 255, 0.3), 1px 1px rgba(0, 0, 0, 0.3);
}

.calc_box p {
   font-size: 25px;
   line-height: 1px;
   color: gray;
   font-family: 'Helvetica';
   font-weight: bold;
   width: 50px;
}
.num_box {

    width: 45px;
    height: 45px;
    font-size:30px;
}

.num_restart {
    width: 70px;
    height: 45px;
    font-size:15px;
}

.btn_disabled {
    background-color: #bbbbbb;
    color:#969696;
}

#num{
    width: 70px;
    height: 70px;
    color: white;
    font-size: 20px;
}

input {
  width: 200px;
  height: 20px;
  font-size:15px;
}

.btn_disabled {
  background-color: #bbbbbb;
  color:#969696;
}

.btn_active {
  background-color:red;
  color:#969696;
} 


.calculator{
  display: flex; 
  vertical-align: middle;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.num_restart {
  margin-left: 10px;
  background-color: #17a99f;
  text-shadow: -1px -1px rgba(255, 255, 255, 0.44), 1px 1px rgba(0, 0, 0, 0.38);
  color: #17a99f;
  box-shadow:4px 4px gray;
  border-radius: 4px;
  font-weight: bold;
}

.calculator>h3 {
  position: fixed;
  vertical-align: left;
  width: 23%;
}

.calc_box {
  display: flex;
  padding-left: 250px;
  vertical-align: right; 
}

.calc_box p {
  font-size: 25px;
  line-height: 1px;
  color: gray;
  font-family: 'Helvetica';
  font-weight: bold;
  width: 50px;
}

input {
    width: 200px;
    height: 20px;
    font-size:15px;
 }
 
 .btn_disabled {
    background-color: #bbbbbb;
    color:#969696;
 }
 
 .btn_active {
    background-color:red;
    color:#969696;
 } 
 
 
 .calculator{
    display: flex; 
    vertical-align: middle;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
 }
 
 #result_button1,#result_button2,#result_button3,#result_button4 {
    margin-left: 10px;
  background-color: #17a99f;
  text-shadow: -1px -1px rgba(255, 255, 255, 0.44), 1px 1px rgba(0, 0, 0, 0.38);
  color: #FFF;
  box-shadow:4px 4px gray;
  border-radius: 4px;
  font-weight: bold;
 }
 
 .calculator>h3 {
    position: fixed;
    vertical-align: left;
    width: 23%;
 }
 
 .calc_box {
    display: flex;
    padding-left: 250px;
    vertical-align: right; 
 }